<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Tad Zola Playground</title>
        <meta name="description" content="Playing with Zola">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ get_url(path = "/style.css") }}" type="text/css" media="screen" />

        <!-- TODO: Place favicon.ico in the root directory -->

    </head>
    <body>
        <main class="container">
            {% block content %}{% endblock %}
        </main>

    </body>
</html>
