{% extends "base.html" %}

{% block content %}
<h1 class="title">{{ section.title }}</h1>

<div>
    {{ section.content | safe }}
</div>
<ul>
    {% for post in section.pages %}
    <li><a href="{{ post.permalink | safe }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endblock content %}
