{% extends "base.html" %}

{% block content %}
<h1 class="title">Welcome to the Zola playground!!!</h1>

<p>See the <a href="{{ get_url(path='@/blog/_index.md') }}">blog posts</a>.</p>
{% endblock content %}
